body {
    padding-top: 60px;
    padding-bottom: 0px;
    background-color: #fff;
    font-size: 13px;
}

.h5, h5 {
  font-size: 13px;
}


.h4, h4 {
  font-size: 16px;
}

.h3, h3 {
  font-size: 20px;
}

.h2, h2 {
  font-size: 24px;
}

blockquote {
    font-size: 15px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
    background: rgba(34, 34, 34, 0.73);
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a, .sidebar a:hover {
    color: #15c;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
  color: #ee4444;
}

.well {
  background-color: #ffffff;
  padding: 0px;

}

.well h1 {
  color: #000000;
}

#headerButtons > li > a:hover, .nav .navbar-nav > li > a:focus {
  color: white;
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
}

.pad-top {
  padding-top: 20px;
}

.page_number {
  color: white;
}

ul li ul {
  display: none;
}

ul li:hover ul {
  display: block;
}

pre {
  background-color: ##dee3e9;
  margin-bottom: 25px;
  margin-top: 20px;
}

code {
    font-size: 105%;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

hr {
  border-top: 1px solid #17181B;
}

.td-bottom-line {
  border-bottom: 1px solid rgb(51, 122, 188);
}

#disqus_thread {
  padding-top: 60px;
}

.category-label {
  color: white;
}

a.list-group-item:focus, a.list-group-item:hover {
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
}

a.list-group-item:hover > h5 {
  color: white;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: white;
  text-decoration: none;
  background-color: #c7254e;
}

.dropdown-menu {
  font-size: 12px; 
}

#post-header {
  padding-bottom: 15px;
}

iframe {
  padding-top: 5px;
  padding-bottom: 25px;
}

.label {
    font-size: 13px;
}

.list-group-item-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

.table>thead>tr>th {
  padding: 7px;
}

.table>tbody>tr>td {
  padding: 3px;
}

.table>tbody>tr:hover {
  color: white;
  background-color: #c7254e;
}

table {
  background-color: white;
}

thead {
  background: #575757;
  color: white;
}

a, a:hover {
  color: #15c;
}