<h1>External resources</h1>
<ul>
    <li><a href="http://docs.oracle.com/javase/tutorial/" target="_blank">Oracle Java Tutorials: SE 8</a></li>
    <li><a href="https://docs.oracle.com/javaee/7/tutorial/" target="_blank">Oracle Java Tutorials: JEE 7</a></li>
    <li><a href="http://it-ebooks.info/" target="_blank">IT Books</a></li>
    <li><a href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/" target="_blank">Spring Reference</a></li>
    <li><a href="http://docs.jboss.org/hibernate/orm/5.0/manual/en-US/html/" target="_blank">Hibernate Reference (v5.0)</a></li>
    <li><a href="http://www.w3schools.com/" target="_blank">W3 Schools</a></li>
    <li><a href="https://12factor.net/" target="_blank">12 Factor Apps</a></li>
    <li><a href="http://www.reactivemanifesto.org/" target="_blank">Reactive Manifesto</a></li>
    <li><a href="http://learngitbranching.js.org/" target="_blank">Learn GIT</a></li>
</ul>
