<div class="sidebar well">
    <h1>Recent articles</h1>
    <ul>
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
	{% include links-list.html %}
</div> 

<div class="sidebar well" style="margin-top: 5px;">
	<div id="coindesk-widget"></div>
	<script type="text/javascript" src="//widget.coindesk.com/bpiticker/coindesk-widget.min.js?b825e3"></script>
</div>
