<div class="sidebar well" style="margin-top: 5px;">
	
	<!-- TradingView Widget BEGIN -->
	<div id="tv-miniwidget-91eab"></div>
	<script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script>
	<script type="text/javascript">
		new TradingView.MiniWidget({
		  "container_id": "tv-miniwidget-91eab",
		  "tabs": [
		    "Equities",
		    "Commodities",
		    "Bonds",
		    "Forex"
		  ],
		  "symbols": {
		    "Equities": [
		      [
		        "Merval Argentina",
		        "INDEX:MERV|1y"
		      ],
		      [
		        "S&P500",
		        "TVC:SPX"
		      ],
		      [
		        "NQ100",
		        "TVC:NDX"
		      ],
		      [
		        "Dow30",
		        "DOWI"
		      ],
		      [
		        "Nikkei225",
		        "TVC:NI225"
		      ],
		      [
		        "Apple",
		        "AAPL"
		      ],
		      [
		        "Google",
		        "GOOG"
		      ]
		    ],
		    "Commodities": [
		      [
		        "Emini",
		        "ES1!"
		      ],
		      [
		        "Euro",
		        "E61!"
		      ],
		      [
		        "Gold",
		        "GC1!"
		      ],
		      [
		        "Oil",
		        "CL1!"
		      ],
		      [
		        "Gas",
		        "NG1!"
		      ],
		      [
		        "Corn",
		        "ZC1!"
		      ]
		    ],
		    "Bonds": [
		      [
		        "Eurodollar",
		        "CME:GE1!"
		      ],
		      [
		        "T-Bond",
		        "CBOT:ZB1!"
		      ],
		      [
		        "Ultra T-Bond",
		        "CBOT:UD1!"
		      ],
		      [
		        "Euro Bund",
		        "TVC:EUBUND"
		      ],
		      [
		        "Euro BTP",
		        "EUREX:II1!"
		      ],
		      [
		        "Euro BOBL",
		        "EUREX:HR1!"
		      ]
		    ],
		    "Forex": [
		      "FX:EURUSD",
		      "FX:GBPUSD",
		      "FX:USDJPY",
		      "FX:USDCHF",
		      "FX:AUDUSD",
		      "FX:USDCAD"
		    ]
		  },
		  "gridLineColor": "#e9e9ea",
		  "fontColor": "#83888d",
		  "underLineColor": "#dbeffb",
		  "trendLineColor": "#4bafe9",
		  "activeTickerBackgroundColor": "#edf0f3",
		  "large_chart_url": "https://www.tradingview.com/chart/",
		  "noGraph": false,
		  "width": "300px",
		  "height": "400px",
		  "locale": "en"
		});
	</script>
	<!-- TradingView Widget END -->

	<br>

	<!-- Coindesk BTC Price Widget BEGIN -->
	<div id="coindesk-widget"></div>
	<script type="text/javascript" src="//widget.coindesk.com/bpiticker/coindesk-widget.min.js?b825e3"></script>
	<!-- Coindesk BTC Price Widget END -->

</div>
