<div>
    
    <div class="sidebar well">
        <script>
          (function() {
            var cx = '007697501352664417868:wahpfafhwcu';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
    </div>

    <div class="sidebar well">
        <h1>Latest 5 articles</h1>
        <ul>
            {% for post in site.posts limit:5 %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="sidebar well">
        <h1>Pinned articles</h1>
        {% include pinned-articles.html %}
    </div>

    <div class="sidebar well">
        {% include links-list.html %}
    </div>

</div>
