<div class="sidebar well">

	<div class="sidebar well" style='width: 300px; word-break: keep-all; word-wrap: normal;'>
		<h1>About me</h1>
		<div class="well2">
		<p>
		My name is Damian Fanaro. 
		I'm a software engineer interested in Java, DDD, Microservices, Event Sourcing, CQRS, Distributed System, Blockchain, among others.
		</p>
		<p>
		Feel free to drop a line at <code>damianfanaro {at} gmail.com</code>
		</p>
		<p>
		For encrypted communication you can import my <b>public PGP Key</b>.
		Click <a href="http://damianfanaro.github.io/DamianFanaroPGP.asc" target="blank">here</a> to download.
		</p>
		<p>
		<a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss" style="font-size: xx-large; padding-right: 10px;"></i></a>
		<a href="https://github.com/damianfanaro" target="blank"><i class="fa fa-github" style="font-size: xx-large; padding-right: 10px;"></i></a>
		<a href="https://www.linkedin.com/in/damianfanaro" target="blank"><i class="fa fa-linkedin" style="font-size: xx-large; padding-right: 10px;"></i></a>
		<a href="https://twitter.com/DamianFanaro" target="blank"><i class="fa fa-twitter" style="font-size: xx-large;"></i></a>
		</p>
		</div>
	</div>

	<br>
	
	<a class="twitter-timeline" 
	   data-lang="en" 
	   data-width="300" 
	   data-height="700" 
	   data-theme="dark" 
	   href="https://twitter.com/DamianFanaro">Tweets by DamianFanaro
	</a> 
	
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>
