<div class="sidebar well">

	<div class="sidebar well" style='width: 300px; word-break: keep-all; word-wrap: normal;'>
		<h1>About me</h1>
		<div class="well2">
		<p>Hello! My name is <b>Damian Fanaro</b>. I'm a software engineer specialized in <code>Java/J2EE</code> and similar technologies. I also like the financial field and how it's mixed with the tech field.
			My mother-tongue is Spanish. Feel free to drop a line at <code>damianfanaro {at} gmail.com</code></p>
		<p>
			<a href="{{ site.baseurl }}/feed.xml" target="blank"><i class="fa fa-rss" style="font-size: xx-large; padding-right: 10px;"></i></a>
			<a href="https://github.com/damianfanaro" target="blank"><i class="fa fa-github" style="font-size: xx-large; padding-right: 10px;"></i></a>
			<a href="https://www.linkedin.com/in/damianfanaro" target="blank"><i class="fa fa-linkedin" style="font-size: xx-large; padding-right: 10px;"></i></a>
			<a href="https://twitter.com/DamianFanaro" target="blank"><i class="fa fa-twitter" style="font-size: xx-large;"></i></a>
		</p>
		</div>
	</div>

    <br>

	<!-- TradingView Widget BEGIN -->
	<div id="tv-miniwidget-044c6"></div>
	<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
	<script type="text/javascript">
		new TradingView.MiniWidget({
		  "container_id": "tv-miniwidget-044c6",
		  "tabs": [
		    "Equities",
		    "Forex",
		    "Commodities",
		    "Bonds"
		  ],
		  "symbols": {
		    "Equities": [
		      [
		        "Merval",
		        "INDEX:MERV|1y"
		      ],
		      [
		        "S&P500",
		        "TVC:SPX"
		      ],
		      [
		        "NQ100",
		        "TVC:NDX"
		      ],
		      [
		        "Dow30",
		        "DOWI"
		      ],
		      [
		        "Nikkei225",
		        "TVC:NI225"
		      ]
		    ],
		    "Forex": [
		      "FX:EURUSD",
		      "FX:GBPUSD",
		      "FX:USDJPY",
		      "FX:USDCHF",
		      "FX:AUDUSD",
		      "FX:USDCAD"
		    ],
		    "Commodities": [
		      [
		        "Emini",
		        "ES1!"
		      ],
		      [
		        "Euro",
		        "E61!"
		      ],
		      [
		        "Gold",
		        "GC1!"
		      ],
		      [
		        "Oil",
		        "CL1!"
		      ],
		      [
		        "Gas",
		        "NG1!"
		      ],
		      [
		        "Corn",
		        "ZC1!"
		      ]
		    ],
		    "Bonds": [
		      [
		        "Eurodollar",
		        "CME:GE1!"
		      ],
		      [
		        "T-Bond",
		        "CBOT:ZB1!"
		      ],
		      [
		        "Ultra T-Bond",
		        "CBOT:UD1!"
		      ],
		      [
		        "Euro Bund",
		        "TVC:EUBUND"
		      ],
		      [
		        "Euro BTP",
		        "EUREX:II1!"
		      ],
		      [
		        "Euro BOBL",
		        "EUREX:HR1!"
		      ]
		    ]
		  },
		  "gridLineColor": "#e9e9ea",
		  "fontColor": "#83888d",
		  "underLineColor": "#dbeffb",
		  "trendLineColor": "#4bafe9",
		  "activeTickerBackgroundColor": "#edf0f3",
		  "large_chart_url": "https://www.tradingview.com/chart/",
		  "noGraph": false,
		  "width": "300px",
		  "height": "400px",
		  "locale": "en"
		});
	</script>
	<!-- TradingView Widget END -->

	<br>

	<!-- Coindesk BTC Price Widget BEGIN -->
    <div id="coindesk-widget"></div>
    <script type="text/javascript" src="//widget.coindesk.com/bpiticker/coindesk-widget.min.js?b825e3"></script>
    <!-- Coindesk BTC Price Widget END -->

</div>
