---
layout: default
---

<div class="well">

    <header id="post-header">
        <h3 id="post-title">All articles</h3>
    </header>

    {% for post in site.posts %}

        {% if forloop.first %}
            <div class="list-group">
        {% endif %}

            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}

            <a href="{{ site.baseurl}}{{ post.url }}" class="list-group-item"><h5 class="list-group-item-heading">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</h5>
            <p class="list-group-item-text" style="padding-top: 5px;">{{ post.description }}</p>
            </a>

        {% if forloop.last %}
            </div>
        {% endif %}

    {% endfor %}

</div>
