---
layout: default
---

{% assign post = page %}

<!-- Article -->

<div class="article">

  <div class="well">

      <!-- Article title -->

      <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%b %-d, %Y" }} - {{ page.title }}</a></h1>

      <!-- Tags and categories content -->

      {% if post.category %}
          {% for site_category in site.data.categories %}
              {% if site_category.slug == post.category %}
                  {% assign category = site_category %}
              {% endif %}
          {% endfor %}
          {% if category %}
              {% capture category_content %} in <span class="label" style="background-color:{{ category.color }}"><a class="category-label" href="/jblog/category/{{ category.slug }}/">{{ category.name }}</a></span>{% endcapture %}
          {% endif %}
      {% else %}
          {% assign category_content = '' %}
      {% endif %}

      {% if post.tags.size > 0 %}
          {% capture tags_content %} with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
          {% for post_tag in post.tags %}
              {% for data_tag in site.data.tags %}
                  {% if data_tag.slug == post_tag %}
                      {% assign tag = data_tag %}
                  {% endif %}
              {% endfor %}
              {% if tag %}
                  {% capture tags_content_temp %}{{ tags_content }}<a href="/jblog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                  {% assign tags_content = tags_content_temp %}
              {% endif %}
          {% endfor %}
      {% else %}
          {% assign tags_content = '' %}
      {% endif %}

      <p id="post-meta">Posted {{ category_content }}{{ tags_content }}</p>

      <!-- Disqus comments link -->

      {% if site.comments == true and page.comments == true and site.disqus != '' %}
        <p class="author"><a href="#disqus_thread">Comments</a></p>
      {% endif %}

      <!-- Article content -->

      <div class="post-content">
        {{ content }}
      </div>

      <!-- Pagination -->

      <div class="pagination well">

          {% if page.next %}
          <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next"><< Recent</a>
          {% endif %}

          {% if page.previous %}
          <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older >></a>
          {% endif %}

      </div>

      <!-- Disqus comments -->

      {% if page.comments %}
        <div id="disqus_thread">
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      {% endif %}

  </div>

</div>

{% include disqus-comments.html %}